*{
    box-sizing: border-box;
}

body {
    background: #eee;
    margin: 0;

}

#container {
    width: 1000px;
    margin: auto;
    background: yellow;
}

header {
    background: orange;
    padding: 40px;
}

h1 {
    font: bold 2.2em Arinal, sans-serif;
    color: white;
    text-shadow: 0 0 2px #333;
    text-align: center;
    margin: 0;
}

nav {
    width: 25%;
    float: left;
}

h2 {
    font: bold 1.8em Arial, sans-serif;
    color: #999;
}

main img{
    width: 400px;
    float: right;
    margin: 20px;
    box-shadow: 7px 5px 5px #999;
}

main p{
    font: 1em/1.5 Arial, sans-serif;
    text-align: justify;
    text-indent: 2em;
    color: #333;
}



main {
    background: white;
    min-height: 500px;
    /* width: calc(75% - 2 * 20px); */
    width: 75%;
    float: left;
    padding: 10px 20px;
  
}

footer {
    background: red;
    clear: both;
    font: .7em Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 15px;
}