* {
    box-sizing: border-box;
}

body {
    background: #eee;
    margin: 0;
}



header {
    background: orange;
    padding: 40px;
}

h1 {
    font: bold 2.2em Arinal, sans-serif;
    color: white;
    text-shadow: 0 0 2px #333;
    text-align: center;
    margin: 0;
}

h2 {
    font: bold 1.8em Arial, sans-serif;
    color: #999;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav li a {
    display: inline-block;
    color: #eee;
    font: bold 1em Arial;
    text-align: center;
    font-variant: small-caps;
    background: orange;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0;
    width: 100%;
}

main {
    background: white;
    padding: 10px 20px;
}

main img {
    width: 100%;
    box-shadow: 7px 5px 5px #999;
}

main p {
    font: 1em/1.5 Arial, sans-serif;
    text-align: justify;
    text-indent: 2em;
    color: #333;
}

footer {
    background: red;
    clear: both;
    font: .7em Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 15px;
}


@media only screen and (min-width: 768px) {
    #container {
        max-width: 1000px;
        margin: auto;
        background: yellow;
    }

    nav {
        width: 25%;
        float: left;
    }

    main {
        background: white;
        min-height: 500px;
        /* width: calc(75% - 2 * 20px); */
        float: left;
    }

    main img {
        width: 400px;
        float: right;
        margin: 20px;
    }
}